 #body1 {background-image:url("mainbg.jpg");}
#hh1 {color:bisque;text-align:center;font-size:50;margin-bottom:30;}
#hh2 {color:bisque;text-align:center;font-size:50;margin-bottom:130;}
#hh3 {color:bisque;text-align:center;font-size:50;margin-bottom:150;}
#hh4 {color:bisque;text-align:center;font-size:50;margin-bottom:90;}
#p1 {align:center;font-size:30;color:darkblue;padding-left:500;font-style:oblique;}
#p2 {align:center;padding-left:650;}
#p3 {align:left;padding-left:350px;}
#p4 {align:right;padding-left:350px;}
#p5 {align:left;padding-left:600px;}
#si1 {font-size:35;color:dodgerblue;width:200;}
#si2 {font-size:30;color:dodgerblue;width:300;}
#si3 {width:250; height:50;font-size:20;}
#si4 {width:150; height:50;font-size:20;}
#si5 {width:100; height:50;font-size:20;}
#out1  {text-align:center;}
#h2 {text-align:center;font-size:40;}
#h3 {text-align:center;font-size:25;}
#hhhh {text-align:center;font-size:20;}
#aa {align:center;font-size:30;color:darkorchid;}
#pp {text-align:center;font-size:30;color:darkorchid;}
#im1 {height:35;width:35;padding-left:1000px;}
#p6 {align:left;padding-left:900px;}

